/* universel styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* universel button styles */

.universel-btn {
    margin-top: 32px;
    padding: 16px 25px;
    font-weight: 600;
    font-size: 20px;
    background: #FFF;
    border-radius: 5px;
    border: none;
    color: #005FAC;
}


/* header section styles */

.banner {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text {
    text-align: right;
    padding: 150px 100px 160px 520px;
}

.text-title {
    font-weight: 800;
    font-size: 55px;
    color: #fff;
    margin-bottom: 24px;
}

.text-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFF;



}

/* pre-year section styles */

.pre-year {
    display: flex;
    align-items: center;
    gap: 87px;
    margin-top: 50px;
}

.pre-year-text {
    margin-right: 50px;

}

.pre-year-text-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.pre-year-text-descriptio {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

main ul li {
    list-style: none;
    margin-top: 8px;
    color: #444343;

}

i {
    color: green;
}

/* my-plans section styles */

.my-plans {
    margin-top: 130px;
}

.my-plans-title {
    font-weight: 800;
    font-size: 30px;
    color: #151414;
    text-align: center;
}

.my-plans-items {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 50px;
}

.item-title {
    margin-top: 20px;
    text-align: center;
}

.item-description {
    margin-top: 10px;
    text-align: center;
}

.dev-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* picture gradient section styles */

.gradient {
    margin: 100px 150px;
    background: grey;
    border-radius: 5px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(./images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gra-text {
    padding: 25px 300px 25px 40px;
}

.gra-text-title {
    font-weight: 600;
    font-size: 28px;
    color: #FFF;
}